@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: black;
}

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

.calculator {
  max-height: 90%;
  min-height: 300px;
  height: 600px;
  max-width: 60%;
  min-width: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.output-window {
  flex: 1 150px;
  position: relative;
  background-color: black;
}

output {
  line-height: 1;
  word-wrap: break-word;
  overflow-y: scroll;
  display: block;
  position: absolute;
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  background-color: #f0f0f0;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  flex: 3 450px;
  padding: 0px 20px 20px 20px;
  background-color: black;
}

.btn {
  font: inherit;
  width: calc(25% - 10px);
  height: calc(20% - 10px);
  border: 1px solid #f0f0f0;
}

.btn:hover {
  cursor: pointer;
}

.bl {
  color: #f0f0f0;
  background-color: black;
}

.bl:hover {
  background-color: #1e1e1e;
}

.wh-or {
  color: #ff8f2a;
  background-color: #f0f0f0;
}

.wh-or:hover {
  background-color: #e2e2e2;
}

.clearAll {
  color: #f0f0f0;
  background-color: #ff8f2a;
}

.clearAll:hover {
  background-color: #ff8010;
}
